@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;700&family=Tangerine:wght@400;700&display=swap');

body {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    font-weight: 300;
}

.title {
    font-weight: 700;
    font-size: 32px;
    text-align: center;
}

.options {
    text-align: center;
}

.text_opt {
    font-size: 28px;
    font-weight: 700;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 5em;
}

.btn_choice {
    width: 170px;
    height: 120px;
    font-size: 24px;
    font-weight: 700;
}

.results {
    text-align: center;
    font-size: 22px;
    font-weight: 300;
}

.player_strong,
.player_score,
.cpu_strong,
.cpu_score {
    font-weight: 700;
    font-size: 23px;
}

.match_result {
    font-weight: 700;
}

